/*------------------------------------------------*/
/*-------------------[FONTS]----------------------*/
/*------------------------------------------------*/
@font-face {
    font-family: 'Freight Big Pro';
    src: url('../fonts/freight_big_pro-webfont.woff2') format('woff2'),
         url('../fonts/freight_big_pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Freight Neo Pro';
    src: url('../fonts/freight_neo-webfont.woff2') format('woff2'),
         url('../fonts/freight_neo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Freight Neo Bold';
    src: url('../fonts/freight_neo_bold-webfont.woff2') format('woff2'),
         url('../fonts/freight_neo_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: $red;
	font-family: 'Freight Big Pro';
  margin-bottom: 0;
}

h1 {
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h2 {  
  font-size: $mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h3 { 
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}

body {
	color: $black;
	font-family: $freightNeo;
  background-color: rgba(246,245,244,.52);
}

a {
  color: $color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.subheader {
  text-transform: uppercase;
  color: $black;
  margin-bottom: 25px;
  font-family: $freightNeoBold;
}

.section-title {
  margin-bottom: 35px;
}

p {
  margin-bottom: 25px;
}

.wysiwyg {
  ul {
    list-style: none;
    padding-left: 0;
    li {
      &:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f111";
        margin-right: 10px;
        font-size: 8px;
      }
    }
  }
}

.red {
  color: $red;
}

#searchform {
  input {
    border: solid 2px $red;
    padding: 10px 50px 10px 15px;
    width: 350px;
  }
  button {
    height: 100%;
    background: transparent;
      border: 0;
      position: absolute;
      right: 5px;
      img {
        z-index: 3;
        position: relative;
        height: 25px;
      }
  }
} 

/*------------------------------------------------*/
/*-------------------[HEADER]---------------------*/
/*------------------------------------------------*/
#notificationBar {
  background-color: $blue;
  padding: 15px 0;
  font-family: $freightBig; 
  font-weight: bold;
  .subheader {
    margin-bottom: 0;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    margin-left: 5px;
  }
}

#wrapper-navbar {
  padding-top: 25px;
  padding-bottom: 25px;
}
#main-menu {
  a {
    font-family: $freightNeo;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
      color: $red;
    }
  }
}

.mobileToggle {
  color: $color;
}

#logoLink {
  max-width: 75%;
}

.dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background-color: #F6F5F4;
  .dropdown-item {
    &:active {
    color: $red;
    text-decoration: none;
    background-color: #F6F5F4;
    }
  }
  li {
    a {
      text-align: center;
    }
  }
}

.dropdown-toggle {
  &:after {
    transition: all .5s;
    font: normal normal normal 14px/1 FontAwesome;
    border: 0;
    content: "\f078"; 
  }
  &:hover {
    &:after {
      transform: rotate(180deg); 
    }
  }
}

/*------------------------------------------------*/
/*-------------------[BUTTONS]--------------------*/
/*------------------------------------------------*/

.btn {
  font-family: $freightNeoBold;
  border: solid 2px $blue !important;
  text-transform: uppercase;
  border-radius: 37px;
  padding: .5rem 3rem !important;
  white-space: normal;
  color: #fff !important;
}

.blue-button {
  background-color: $blue !important;
  &:hover {
    color: $red !important;
    background-color: transparent !important;
    }
}

.maroon-button {
  background-color: #6D1919 !important;
  &:hover {
    background-color: #6D1919 !important;
    }
}

.outline-button {
  color: $red !important;
  border: solid 2px $blue;
  background-color: transparent !important;
  &:hover {
    color: #fff !important;
    background-color: $blue !important;
  }
}

/*------------------------------------------------*/
/*-------------------[GENERAL]--------------------*/
/*------------------------------------------------*/
.hero {
  padding-top: 24.53%;
  box-shadow: rgba(255,255,255,.61) 0 0 0 1000px inset;
  position: relative;
  background-size: contain;
  background-position: center center !important;
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    min-height: 400px;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
}

.hero, section {
  margin-bottom: 100px;
}

.full-width-image {
  margin-bottom: 75px;
}

/*------------------------------------------------*/
/*--------------------[HOME]----------------------*/
/*------------------------------------------------*/
#homepage {
  .hero {
    padding-top: 42.81%;
    box-shadow: none;
    background-size: contain;
    min-height: 350px;
    @include media-breakpoint-down(md) {
      background-size: cover !important;
      box-shadow: rgba(256,256,256,.5) 0 0 0 500px inset;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 0;
      min-height: 650px;
    }
    .inner-container {
      @include media-breakpoint-up(lg) {
        width: 50%;
        text-align: left;
      }
    }
  }
  #sectionTwo {
    h1 {
      margin-bottom: 75px;
    } 
  }
  #sectionThree {
    background-color: $blue;
    @include media-breakpoint-down(md) {
      #testimonialImage {
        background-color: #faf9f9;
        padding-top: 88.37%;
        background-size: contain !important;
        background-repeat: no-repeat;
        background-position: center center !important;
      }
      #testimonials {
        @include media-breakpoint-up(lg) {
          max-width: 600px;  
        }
      }
    }
    .content-container {
      padding: 50px;
    }
    .prev-arrow, .next-arrow {
      cursor: pointer;
    }
  }
  #sectionFour {
    #cards {
      @include media-breakpoint-down(lg) {
        flex-direction: column;
        align-items: center;
      }
    }
    .horizontal-card {
      @include media-breakpoint-down(md) {
      flex-direction: column;
      width: 75%;
      text-align: center;
      img {
        margin-right: 0;
        margin-bottom: 15px;
      }
      }
      @include media-breakpoint-down(lg) {
        margin-bottom: 25px;
        &:last-of-type {
          margin-bottom: 0;
        } 
      }
      @include media-breakpoint-only(lg) {
        min-width: 431px;
      }
      flex-basis: 20%;
      background-color: #fff;
      padding: 15px;
    }
  }
}
/*------------------------------------------------*/
/*----------------[MEET ANNETTE]-----------------*/
/*------------------------------------------------*/
#meetAnnette {
  #sectionOne {
    text-align: center;
    h1 {
      margin-bottom: 35px;
    }
  }
  #sectionTwo {
    background-color: rgba(166,180,179,.30);
    padding-top: 75px;
    padding-bottom: 75px;
    img {
      @include media-breakpoint-down(md) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
      }
    }
  }
}

/*-----------------------------------------------*/
/*---------------[TESTIMONIALS]------------------*/
/*------------------------------------------------*/
#testimonials {
  .testimonial {
    .pull-quote {
      margin-bottom: 25px;
    }
  }
  #sectionTwo {
    .testimonial {
      background-color: #DFE2E2;
      &:first-of-type {
        margin-bottom: 25px;
      }
    }
  }
}
/*------------------------------------------------*/
/*-----------[FAQs]-------------*/
/*------------------------------------------------*/
#faqs {
  #questionContainer {
    margin-bottom: 37.5px;
    .question-container {
      border-bottom: solid 1px #707070;
      padding-bottom: 25px;
      margin-bottom: 25px;
      cursor: pointer;
      &:last-of-type {
        margin-bottom: 0;
      }
      .question {
        img {
          transition: all .5s;
        }
      }
      a {
        &[aria-expanded="true"] {
          img {
            transform: rotate(180deg);
          }
        }
      }
      .question-text {
        color: $black;
        font-family: $freightNeoBold;
        text-transform: uppercase;
      }
      .card-body {
        padding: 25px 0 0 25px;
        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
/*------------------------------------------------*/
/*-----------[HOME OFFICE ORGANIZING]-------------*/
/*------------------------------------------------*/
#homeOfficeOrganizing {
  #sectionTwo {
    display: flex;
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include media-breakpoint-up(md) {
      .image-wrapper {
        &:nth-of-type(1), &:nth-of-type(2) {
          margin-right: 15px;
        }
      }  
    }
    margin-bottom: 0;
  }
  #sectionThree {
    background-color: rgba(166,180,179,.40);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;
    .inner-container {
      display: flex;
      align-items: flex-start;
      img {
        margin-right: 25px;
      }
    }
    .btn {
      &:hover {
        background-color: $brown !important;
        border-color: #7F423D !important;
      }
    }
  }
  #sectionFour {
    position: relative;
    background-size: cover;
    @include media-breakpoint-only(md) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 48.07%;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 0;
      min-height: 650px;
    }
    .container-fluid {
    @include media-breakpoint-down(md) {
       padding-left: 0;
       padding-right: 0;
     } 
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%); 
      } 
      .inner-container {
        padding: 50px;
        background: #ffffffb8;
        text-align: center;
      }
    }
  }
}
/*------------------------------------------------*/
/*-----------[PACKING DOWNSIZING]-------------*/
/*------------------------------------------------*/
#packingDownsizing {
  #sectionTwo {
    background-color: rgba(231,223,215,.4);
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    .inner-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      @include media-breakpoint-down(md) {
        align-items: center;
      }
      @include media-breakpoint-down(xs) {
        flex-direction: column;
      }
      img {
        margin-right: 25px;
        @include media-breakpoint-down(xs) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
      .wysiwyg {
        ul {
          margin-bottom: 0;
        }
      }
    }
  }
  #sectionThree {
    margin-bottom: 25px;
    .content-box {
      background-color: #DFE2E2;
      margin-bottom: 25px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    #bgImg {
      @include media-breakpoint-down(md) {
        margin-top: 50px;
        padding-top: 145%;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  #sectionFour {
    background-color: rgba(231,223,215,.4);
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0;
  }
}
/*------------------------------------------------*/
/*-----------[ASSISTING]-------------*/
/*------------------------------------------------*/
#assisting {
  #sectionTwo {
    background-color: rgba(166,180,179,04);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    .inner-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      @include media-breakpoint-down(md) {
        align-items: center;
      }
      @include media-breakpoint-down(xs) {
        flex-direction: column;
      }
      img {
        margin-right: 25px;
        @include media-breakpoint-down(xs) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
      .wysiwyg {
        ul {
          margin-bottom: 0;
        }
      }
    }
  } 
  #sectionThree {
    margin-bottom: 25px;
  }
  #sectionFour {
    background-color: rgba(231,223,215,.4);
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0;
  }
}
/*------------------------------------------------*/
/*-----------[OUR WORK]-------------*/
/*------------------------------------------------*/
#ourWork {
  #sectionTwo {
    background-color: rgba(231,223,215,.4);
    padding-bottom: 100px;
    margin-bottom: 0; 
    .featured-image {
      margin-bottom: 100px;
    }  
  }
  #sectionThree {
    display: flex;
    flex-wrap: wrap;
    .image-wrapper {
      flex-basis: 50%;
    }
    #featuredImage {
      flex-basis: 100%;
    }
  }
  #sectionFive {
    background-color: rgba(231,223,215,.4);
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0;
  }
}
/*------------------------------------------------*/
/*-----------[CONTACT]-------------*/
/*------------------------------------------------*/
#contact {
  #sectionOne {
    margin-bottom: 50px;
    #sidebar {
      @include media-breakpoint-down(md) {
        text-align: center;
      }
      .contact-section {
        @media only screen and (max-width: 1318px) {
          margin-bottom: 25px;  
        }
      }
      .inner-container {
        padding: 50px;
        background-color: rgba(231,223,215,.4); 
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 1318px) {
          flex-direction: column;  
        }
        a {
          &:hover {
            color: $black;
          }
        }
        .social-links {
          img {
            height: 28px;
          }
        }
      }
    }
  }
}
/*------------------------------------------------*/
/*-----------[BLOG]-------------*/
/*------------------------------------------------*/
#blog {
  .hero {
    margin-bottom: 25px;
  }
  #sectionOne {
    background-color: rgba(166,180,179,.61);
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 25px;
    #categories {
      #categoryButton {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
          i, span {
          color: $red;
          text-transform: uppercase;
        }
      } 
      #ajaxCategoryFilter {
        padding: 25px 25px 0 25px;
        background-color: #C7CECD;
        position: absolute;
        top: 100%;
        left: 100px;
        z-index: 1;
        flex-direction: column;
        .top-wrapper {
          display: flex;
          align-items: center;
          padding-bottom: 15px;
          border-bottom: solid 1px #fff;
          margin-bottom: 15px;
          img {
            height: 27px;
            cursor: pointer;
          }
        }
        li {
          .subheader {
            padding-bottom: 15px;
            border-bottom: solid 1px #fff;
            margin-bottom: 15px;
            cursor: pointer;
            &:hover {
              color: $black;
            }
          }  
        }
        
      }
    } 
  }
  #sectionTwo {
    margin-bottom: 50px;
    #featuredPost {
      .post-wrapper {
        padding-bottom: 0;
        border-bottom: 0;
        margin-bottom: 0;
        img {
          margin-bottom: 0;
        }
        .content-wrapper {
          position: absolute;
          right: 0;
          width: 50%;
          bottom: 0;
          background: #ffffffc9;
          padding: 35px;  
        }
      }
    }  
  }
  #sectionThree {
    background-color: #E7DFD7;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    #mc_embed_signup {
      p {
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 30px;
        margin-bottom: 0;
      }
      .mc-field-group {
        flex: 0 0 45%;
      }
    }
  }
  #sectionFour {
    #loader {
      text-align: center;
    }
    .post-wrapper {
      padding-bottom: 25px;
      border-bottom: solid 2px #7F423D;
      margin-bottom: 25px;
      img {
        margin-bottom: 25px;
      }
    }
    #paginationWrapper {
      display: flex;
      justify-content: center;
    }
    .pagination, .ajax-pagination {
      display: flex;
      padding-left: 0;
      list-style: none;
      border-radius: .25rem;
      justify-content: center;
      .prev, .next  {
        display: none;
      }
      .page-item {
        cursor: pointer;
        &:hover {
          .page-link {
            background-color: #6D1919;
            color: #fff !important; 
            a {
              background-color: #6D1919;
              color: #fff !important;  
            }
          }  
        }
        .page-link {
          border: solid 2px #7F423D;
          border-radius: 40px;
          padding: 10px 25px;
          font-weight: bold;
          font-size: 1.35rem;
          line-height: 1;
          color: #7F423D;
          margin-right: 15px;
          background-color: #fff;
          .page-numbers {
            color: $red;  
          }
          span.current {
            color: #fff;
          }
          &.current {
            background-color: #6D1919;
            color: #fff;
            &:hover {
              background-color: #6D1919;
            }
          }
        }
        &:last-of-type {
          .page-link {
            margin-right: 0;
          }
        }
      }
    }
  }
  #sectionFive {
    background-color: #E7DFD7;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;
    #productWrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @include media-breakpoint-only(xs) {
        flex-direction: column;
      }
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }
      .recommended-product {
        @include media-breakpoint-down(md) {
          flex-basis: 48%;
          margin-bottom: 25px;
        }
        @include media-breakpoint-up(lg) {
        flex-basis: 23.5%;
      }
      }      
    }
  }
}
/*------------------------------------------------*/
/*-----------[SINGLE]-------------*/
/*------------------------------------------------*/
#singlePost {
  margin-bottom: 100px;
  #thePost {
    margin-bottom: 0;
  }
  .full-width-image {
    margin-bottom: 37.5px;
  } 
  .inner-container {
    padding-bottom: 25px;
    border-bottom: solid 2px #6D1919;
    margin-bottom: 25px;
    .author {
      color: $red;
      text-transform: uppercase;
      font-family: $freightNeoBold;
    }
  }
  .post-footer {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      text-align: center;
    }
    .back {
      .btn {
        color: $black !important;
        border-color: $black !important;
        &:hover {
          color: $black !important;
          background-color: transparent !important;
        }  
      }
    }
    .social-sharing {
      .subheader {
        @include media-breakpoint-up(lg) {
          text-align: right;  
        }
        margin-bottom: 15px;
      }
      .addtoany_shortcode {
        span {
          height: 50px;
          line-height: 50px;
          width: 50px;
          border: solid 2px;
          border-radius: 50%;
          margin-right: 5px;
        }
        a {
          &:last-of-type {
            span {
              margin-right: 0;
            }
          }
          &:hover {
            span {
              border-color: $black;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  #comments {
    .btn {
      color: $black !important;
      border-color: $black !important;
      &:hover {
        color: $black !important;
        background-color: transparent !important;
      }  
    }
    #cancel-comment-reply-link {
      font-size: 1rem;
      margin-left: 10px;
      &:hover {
        color: $black;
      }
    }
    .comment-form-url {
      display: none;
    }
    .comment {
      border-bottom: solid 2px #E7DFD7;
      &:first-of-type {
        border-bottom: 0;
      }
    }
    .says {
      display: none;
    }
    .avatar {
      border-radius: 50%!important;
    }
    .comment-reply {
      margin-bottom: 20px;
      padding: 0 !important;
      border: 0 !important;
      a {
        &:hover {
          color: $black;
        }
      }
    }
    .children {
      padding-left: 0;
      .comment {
        padding-bottom: 0;
        margin-bottom: 25px;
        border-bottom: 0;
        padding-left: 25px;
        border-left: solid $red;
      }
      .children {
        padding-left: 25px;
      }
    }
    .children>.children {
      padding-bottom: 25px;
      border-bottom: solid 2px #E7DFD7;
      margin-bottom: 25px;
    }
    .comment-form {
      .logged-in-as {
        a {
          color: inherit; 
        }
      }
      input {
        border-color: $red; 
      }
      textarea {
        border-color: $red;
        height: 150px;
      }
    }
  }
}
/*------------------------------------------------*/
/*-----------[SERVICES PRICING GUIDE]-------------*/
/*------------------------------------------------*/
#servicesPricingGuide {
  .table {
    thead {
      tr {
        background-color: transparent !important;
      }
      th {
        border: 0;
      }
    }
    td {
      border: 0;
    }
    tr:nth-of-type(odd) {
      background-color: #EFEDE7;
    }
  }
  .hero {
    margin-bottom: 0;
  }
  #sectionOne {
    margin-bottom: 0;
    .right {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  #sectionTwo {
    margin-bottom: 0;
    background-color: rgba(231,223,215,.4);
  }
  #sectionThree {
    margin-bottom: 0;
  }
  #sectionFour {
    background-color: rgba(231,223,215,.4);
    margin-bottom: 0;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
/*------------------------------------------------*/
/*--------------------[FOOTER]--------------------*/
/*------------------------------------------------*/
#mailchimp {
  padding-top: 41.51%;
  position: relative;
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    min-height: 500px;
  }
  .container {
    padding: 5%;
    background: #ffffffb8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
    h1 {
      font-family: 'Freight Big Pro';
      color: $black;
    }
    .inner-container {
      @include media-breakpoint-up(lg) {
        width: 75%;
        margin: 0 auto;
      }
    }
  }
}
footer {
  background-color: $blue;
  padding-top: 100px;
  padding-bottom: 25px;
  padding-left: 10%;
  padding-right: 10%;
  a {
    &:hover {
      color: $black;
    }
  }
  .inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: 100px;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
    #footerLogo {
      flex-basis: 100%;
      @include media-breakpoint-down(md) {
        margin-bottom: 25px;
      }
      @include media-breakpoint-up(lg) {
        flex-basis: 25%;
        margin-right: 10%;  
      }
      
    }
    #footerLinks {
      flex-basis: 100%;
      @include media-breakpoint-down(md) {
        margin-bottom: 25px;
      }
      @include media-breakpoint-up(lg) {
      flex-basis: 30%;
      display: flex;  
      }
      .left {
        flex-basis: 50%;
        .list-unstyled {
          @include media-breakpoint-down(md) {
            margin-bottom: 0;
          }
        }
      }
    }
    #contact {
      flex-basis: 100%;
      @include media-breakpoint-up(lg) {
      margin-left: 10%;
      flex-basis: 25%;  
      }
      .subheader {
        @include media-breakpoint-down(md) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

/*------------------------------------------------*/
/*------------------[NINJA FORMS]-----------------*/
/*------------------------------------------------*/

.nf-form-cont {
  .nf-form-fields-required {
    display: none;
  }
  .nf-form-content  {
    padding: 0;
  }
  .ninja-forms-req-symbol, .nf-error-msg {
    color: #707070 !important;
  }
  .nf-error-msg {
    margin-bottom: 25px;
  }
  .nf-response-msg {
      border: solid 1px $color;
      padding: 10px 25px;
      margin-bottom: 15px;
      border-radius: 5px;
      p:last-of-type {
        margin-bottom: 0;
      }
  }
  label {
    color: $black;
  }
  .list-container {
    ul {
      display: flex;
      flex-wrap: wrap;
      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
      @include media-breakpoint-up(lg) {
        justify-content: space-between;
      }
      li {
        @include media-breakpoint-up(lg) {
          flex: 0 1 49%;
        }
        label {
          font-weight: 400;
        }
      }
    }
  }
  .listcheckbox-wrap .nf-field-element label {
    margin-left: 35px !important;
    line-height: 27px;
    &:before {
      font-size: 30px !important;
      left: -33px !important;
    }
    &:after {
      background: #fff;
      border-color: #707070;
      border-radius: 0;
      border-width: 2px;
      width: 25px;
      height: 25px;
      left: -35px;  
    }
  }
  .listcheckbox-wrap .nf-field-element label.nf-checked-label:after {
    border-color: #707070;
    border-radius: 0;
  }
  input:not([type="button"]), textarea {
    padding: 10px 15px;
    border: 0 !important;
    border-radius: 0 !important;
    background-color: #fff !important;

  }
  ::-webkit-input-placeholder {
    color: rgba(45,45,43,.57);
  }
  :-ms-input-placeholder {
    color: rgba(45,45,43,.57);
  }
  ::placeholder {
    color: rgba(45,45,43,.57);
  }
  .nf-error.field-wrap .nf-field-element:after {
    background: $black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .nf-field-element {
    .btn {
      border-color: #2D2D2B !important;
      color: #2D2D2B !important;
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}

/*------------------------------------------------*/
/*------------------[MAILCHIMP]-----------------*/
/*------------------------------------------------*/
#mc_embed_signup_scroll {
  display: flex;
  justify-content: center;
  .mc-field-group {
    flex: 0 0 50%;
    margin-right: 30px;
    input {
      border: solid 2px;
      padding: 5px 5px 5px 10px;
      width: 100%;
      margin-right: 25px;
      height: 100%;
      border-radius: 0;
    }
  }
  .btn {
    border-color: $black !important;
    color: $black !important;
    &:hover {
      background-color: transparent !important;
    }
  }
}