//NEW SPACER 
$spacer: 1.5rem;

//Colors
$color: #221F20;
$red: #6D1919;
$blue: #A6B4B3;
$brown: #7F423D;
$black: #2D2D2B;

//Fonts
$freightBig: 'Freight Big Pro';
$freightNeo: 'Freight Neo Pro';
$freightNeoBold: 'Freight Neo Bold';
$freightNeoBook: 'Freight Neo Book';
$freightBigProSemibold: 'Freight Big Pro Semibold';
$freightBigProBook: 'Freight Big Pro Book';

//Fluid Typography Variables
$min_width: 320px;
$max_width: 1200px;
$min_font: 14px;
$max_font: 16px;

//Fluid Header Variables
$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop


//Fluid Typography
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}